<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Qui sommes-nous ?</h2>
                <hr class="light">
                <p class="text-faded">The Hacking Project est une formation qui propose des cursus gratuits, professionnalisants, à plein temps, ouverts à tous, et sans pré-requis. Nous utilisons le modèle du peer-learning (groupes autonomes, apprentissage par projets concrets, grande communauté) pour émuler un esprit de corps et stimuler le cerveau vers un apprentissage ludique. Et cela nous permet d'être gratuits et accessibles à tous.</p>
                <a href="#" class="btn btn-default btn-xl">Rejoignez-nous !</a>
            </div>
        </div>
    </div>
</section>

