<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>En savoir plus sur nos formations</h2>
            <a href="https://www.thehackingproject.org/about" class="btn btn-default btn-xl wow tada">Nos Cursus gratuits</a>
        </div>
    </div>
</aside>

