<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>The Hacking Project</h1>
            <p><img src="http://www.salondutravail.fr/wp-content/uploads/2018/01/the-hacking-project.png", width="300px", height="300px"/></p>
            <hr>
            <p>Éducation, nouvelle génération.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">En savoir plus</a>
        </div>
    </div>
</header>

