
<header>

	<div class="container-fluid">
		<div class="row no-gutter">
			<div class="header-content">

				<div class="header-content-inner col-lg-6 col-md-6">
					<br>
					<h2><strong>THE HACKING PROJECT</strong></h2>
					<h2><strong>REJOIGNEZ LE PREMIER BOOTCAMP DE CODE GRATUIT</strong></h2>
					<hr>
					<p><strong>THE HACKING PROJECT, c’est 3 mois de formation gratuite à différents languages informatiques. A plein temps, ouverts à tous, et sans pré-requis, tu travailleras sur des projets concrets et ludiques sur le modèle du peer-learning.</strong></p>
					
					<hr>
					<p><strong>Tu veux en savoir plus ? Inscris-toi à la newletter ci-dessous :)</strong></p>
					<form  >


						<div >

							<input id="user_email" type="text" placeholder="Enter vorte email" name="uname" required>

							<button id="mail" type="submit">Newsletter</button>

						</div>
					</form>
					<div>
						<a href="https://www.facebook.com/thehackingproject/""><i class="fa fa-4x fab fa-facebook-f network " data-wow-delay=".4s"></i></a>
						
						<a href="https://www.linkedin.com/school/the_hacking_project/"><i class="fa fa-4x fab fa-linkedin-in network" data-wow-delay=".4s"></i></a>
					</div>
				</div>
			</div> 
			<div class="header-content-inner col-lg-6 col-md-6">
				<br><br>
				<div id="thpvid">
				<iframe width="700" height="400" src="https://www.youtube.com/embed/c4D786zRO6g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
					</div>
				</div> 

			</div>

		</header>



