
<header>

	<div class="container-fluid">
		<div class="row no-gutter">
			<div class="header-content">

				<div class="header-content-inner col-lg-6 col-md-6">
					<br>
					<h2><strong>THE HACKING PROJECT</strong></h2>
					<h2><strong>REJOIGNEZ LE PREMIER BOOTCAMP DE CODE GRATUIT</strong></h2>
					<hr>
					<p><strong>THE HACKING PROJECT, c’est 3 mois de formation gratuite à différents languages informatiques. A plein temps, ouverts à tous, et sans pré-requis, tu travailleras sur des projets concrets et ludiques sur le modèle du peer-learning.</strong></p>
					
					<hr>
					<p><strong>Tu veux en savoir plus ? Inscris-toi pour reçevoir la newsletter :)</strong></p>
					
<!--<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"adb3c87cf865c4c9c7e6a13e9","lid":"41a889ca4d"}) })</script>-->
<!-- Begin MailChimp Signup Form -->


						<div >

			<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="https://herokuapp.us17.list-manage.com/subscribe/post?u=adb3c87cf865c4c9c7e6a13e9&amp;id=41a889ca4d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input  type="text" name="b_adb3c87cf865c4c9c7e6a13e9_41a889ca4d" tabindex="-1" value=""></div>
    <div class="clear"><input id="mail" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>


<!--End mc_embed_signup-->

						

						</div>
				
					<div>
						<a href="https://www.facebook.com/thehackingproject/""><i class="fa fa-4x fab fa-facebook-f network " data-wow-delay=".4s"></i></a>
						
						<a href="https://www.linkedin.com/school/the_hacking_project/"><i class="fa fa-4x fab fa-linkedin-in network" data-wow-delay=".4s"></i></a>
					</div>
				</div>
			</div> 
			<div class="header-content-inner col-lg-6 col-md-6">
				<br><br>
				<div id="thpvid">
				<iframe width="700" height="400" src="https://www.youtube.com/embed/c4D786zRO6g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
					</div>
				</div> 

			</div>

		</header>



