<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Témoignages</h2>
                <p>Ils vous racontent leur expérience !</p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/1.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              <strong>   Maxime Souillat</strong>
                            </div>
                            <div class="project-name">
                                

"En deux mois, j'avais le niveau de développeur. Très pratique pour parler aux devs quand on fait du produit, ou pour tester à la volée plein de scripts rapides.""

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/3.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               <strong> Isabelle Bonnet</strong>
                            </div>
                            <div class="project-name">
                                "En plus de me donner suffisamment de bases en code pour lancer AlgoSki, The Hacking Project m'a réappris à apprendre. Je recommande la formation ! ""
                            </div>
                        </div>
                    </div>
                </a>
            </div>
              <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/2.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                 <strong> Juan-Pablo ANGARITA</strong>
                            </div>
                            <div class="project-name">
                                "J'ai fait The Hacking Project pour hacker mon process commercial et faire plus. C'etait également pour moi un moyen d'avoir une meilleure rémunération."
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
    </div>
</section>





