<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Chiffres clés</h2>
                <p>Qu'avons-nous fait depuis notre création ?</p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary"></i>
                    <h3>250</h3>
                    <p class="text-muted">Moussaillons sont passés par THP.</p>
                </div>
            </div>
             <div class="col-lg-2 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>100</h3>
                    <p class="text-muted">Mentors impliqués dans la communauté.</p>
                </div>
            </div>
             <div class="col-lg-2 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>7</h3>
                    <p class="text-muted">Villes investies, sur 3 continents.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>4</h3>
                    <p class="text-muted">Entreprises créés à la suite de The Hacking Project.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-coffee wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>150000</h3>
                    <p class="text-muted">Tasses de café bues!</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>7</h3>
                    <p class="text-muted">En seulement 7 mois d'existence.</p>
                </div>
            </div>
        </div>
    </div>
</section>

